$sky-blue: #00e0d0;
$white: #fff;
$grey: #c6c4c9;
$dark: #413d4b;
$light-grey: #ebebeb;
$blackout: rgba(0, 0, 0, 0.327);

$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;
$hammersmith-one: 'Hammersmith One', sans-serif;

$text-gradient: linear-gradient(90deg, rgba(0,224,208,1) 0%, rgba(74,163,204,1) 100%);
$bg-gradient: linear-gradient(90deg, rgba(46,42,78, .95) 0%, rgba(80,63,117, .95) 100%);

$desktop-s: 960px;
$tablet: 768px;
$mobile: 500px;