.team {
    width: 100%;
    height: 71.2rem;
    background: url(../../img/team-bg.webp) no-repeat;
}

.team__head {
    padding-top: 7.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    font-family: $playfair;
    text-align: center;
}

.team__title {
    font-size: 2.2rem;
    font-weight: 700;
}

.team__subtitle {
    margin-top: 2rem;

    font-size: 1.4rem;
}

.team__line {
    margin-top: 2.1rem;
}

.team__body {
    margin-top: 4.7rem;

    @media (max-width: $tablet) {
        margin-top: 3rem;
    }
}

.team__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $tablet) {
        display: none;
    }
}

.team__item {
    width: 25%;

    @media (max-width: $tablet) {
        width: 50%;
    }

    @media (max-width: $mobile) {
        width: 100%;
    }
}

.team__footer {
    margin-top: 7.3rem;

    text-align: center;

    @media (max-width: $tablet) {
        margin-top: 4rem;
    }
}

.team__slogan {
    color: $white;
    font-size: 1.4rem;
    font-weight: 300;
}

.team__link {
    margin-top: 2.9rem;
}

.team__slider {
    display: none;
    font-size: 0;
    position: relative;

    & .slick-slide {
        display: flex;
        justify-content: center;
    }

    & .slick-list {
        overflow: hidden;
    }

    & .slick-track{
        display: flex;
    }

    & .team__item {
        max-width: 25rem;
    }

    & .slick-arrow {
        position: absolute;
        z-index: 2;
        top: 50%;
        font-size: 0;   
        background-color: transparent;
        width: 3rem;
        height: 3rem;
        
        border-width: 0 3px 3px 0;
        border-style: solid;
        border-color: $light-grey;

        transform: translate(0, -50%);

    } 

    & .slick-arrow.slick-prev {
        left: 1rem;

        transform: rotate(135deg);
    }

    & .slick-arrow.slick-next {
        right: 1rem;

        transform: rotate(-45deg);
    }

    @media (max-width: $tablet) {
        display: block;
        width: 100%;
    }
}
